ul,* {
	margin:0px;
	padding:0px;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/fontawesome-webfont.woff') format('woff'),
	 url('../fonts/fontawesome-webfont.ttf')  format('truetype'),
	 url('../fonts/fontawesome-webfont.svg#fontawesome-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Freight-SansMedium';
  src: url('../fonts/Freight-SansMedium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Freight-SansMedium.otf')  format('opentype'),
	 url('../fonts/Freight-SansMedium.woff') format('woff'),
	 url('../fonts/Freight-SansMedium.ttf')  format('truetype'),
	 url('../fonts/Freight-SansMedium.svg#Freight-SansMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
	  url('../fonts/OpenSans-Regular.woff') format('woff'),
	  url('../fonts/OpenSans-Regular.ttf')  format('truetype'),
	  url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'URWClassico-Reg';
  src: url('../fonts/URWClassico-Reg.eot?#iefix') format('embedded-opentype'),
	url('../fonts/URWClassico-Reg.woff') format('woff'),
	url('../fonts/URWClassico-Reg.ttf')  format('truetype'),
	url('../fonts/URWClassico-Reg.svg#URWClassico-Reg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Classico-URW-T-OT-Medium_10978';
  src: url('../fonts/Classico-URW-T-OT-Medium_10978.eot');
  src: url('../fonts/Classico-URW-T-OT-Medium_10978.woff2') format('woff2'),
       url('../fonts/Classico-URW-T-OT-Medium_10978.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ClassicoURWTOT-Medium';
  src: url('../fonts/ClassicoURWTOT-Medium.woff') format('woff'),
       url('../fonts/ClassicoURWTOT-Medium.ttf') format('truetype'),
       url('../fonts/ClassicoURWTOT-Medium.svg#ClassicoURWTOT-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
       url('../fonts/OpenSans-SemiBold.woff') format('woff'),
       url('../fonts/OpenSans-SemiBold.ttf') format('truetype'),
       url('../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg'),
       url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}




h1,h2,h3,h4,h5,h6{
	font-family: 'URWClassico-Reg';
}

img{
	max-width:100%;
}
a{text-decoration: none!important;}
ul li {
	list-style:none;
	display:inline-block;
}
body{
	font-family: 'OpenSans-Regular';
	font-size:14px;
}
p{ color:#a3a3a3;line-height: 1.6;
    font-size: 14px;}
.topbar{
	background:#203f8b;
}
.bar-icon{
	width:22px;
	display:table-cell;
}
input:focus,input:active,
button:focus,button:active,
textarea:focus,textarea:active,
select:focus,select:active{
	outline:none!important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-o-box-shadow: none!important;
}
.menu-icon{
	color:#fff;
}
.line{
	height:1px;
	width:100%;
	background:#fff;
	margin-bottom:5px;
	display:block;
}
.line3{
	margin-bottom:0px;
}
.tb{
	display:table;
}
.tb-cell{
	display:table-cell;
	vertical-align:baseline;
}
.text-icon{
	font-size:22px;
	padding-left:20px;
	line-height:1;
}
.menu a{
	    display: inline-block;
    font-size: 14px;
    padding: 10px 9px;
	    color: #a1b1d3;
}
.nav .after_content{
	background:#fff;
}
.nav .after_content:after{
	background-color:#ffffff;
	transform: rotate(-180deg);
	background: url(../images/bg_after_2.png) no-repeat;
	background-size: contain;
    margin-left: -1px;
}
.home{
	text-align:center;
}

button[aria-expanded="true"] .expend{
	display:none;
}
button[aria-expanded="true"] .collapse{
	display:block
}
button[aria-expanded="false"] .expend{
	display:block;
}
button[aria-expanded="false"] .collapse{
	display:none
}
.menu-icon{
	float:left;
	
}
.socials{
	float:right;
}
.nav .row .col-lg-5 {
	position: absolute;
    right: 0px;
    top: 0px;
}
.account{
	float:right;
	    padding-top: 30px;
}
.nav .row{
	    position: relative
}
.socials li{
	 padding-left: 3px;
    padding-right: 3px;
}
.socials a{
	display:block;
    width: 25px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background: rgba(255, 255, 255, 0.3);
    color: #203f8b;
}
.topbar .left{
	padding-top: 13px;
	padding-bottom:13px;
	position:relative;
}
.after_content{
	    position: absolute;
    content: "";
    height: 30px;
    left: 100%;
    bottom: 0px;
    background: #174db8;
}
header .nav{
	    border-top: 1px solid #123f98;
}
.after_content:after{
	position: absolute;
    content: "";
    height: 31px;
    width: 99px;
    bottom: 0px;
	background:url('../images/bg_after.png') no-repeat;
    background-size: contain;
    background-color: #203f8b;
    background-position: bottom right;
}
.nav{
	background:url('../images/re_bg_menu.png') repeat-x;
	background-position: top center;
}
.exchange .tb-cell{
	vertical-align:middle;
}
.topbar{
	position:relative;
}
.topbar:after{
	position: absolute;
    content: "";
    left: 0;
	height: 31px;
	width:100%;
}
.exchange .title{
	background:#233e82;
	color: #abb8d6;
	padding-left: 10px;
    padding-right: 10px;
}
.exchange .number{
	position:relative;
	    padding-right: 10px;
}
.exchange input{
	border: none;
    padding-left: 15px;
    width: 30px;
	outline:none;
	    background: none;
    color: #fff;
}
.exchange .cur{
	float:right;
	color: #fff;
}
.exchange .result{
	padding-left: 10px;
	color: #fff;
}
.exchange{
	border: 2px solid #203f8b;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	padding-right: 13px;
}
.cacul{
	width:30px;
    height: 30px;
    text-align: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background: #233e82;
    color: #fff;
	display:block;
	line-height:30px;
}
.exchange>span{
	      padding-top: 4px;
    padding-bottom: 4px;
}
.header{
	background-color:#2451be;
	background:url('../images/bg_header-re.png') repeat-x;
	background-position: bottom center;
	padding: 15px 0px 20px;

}
.logo img{
	max-width: 230px;
}
.header .row{
	align-items: center;
}

.account{
	color: #7f7f7f;
}
.account button.new_acc{
	color:#fff;
}
.account button.sign_in{
	background: #ececec;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    color: #000000;  
font-weight:600;	
}
button.sign_in{
	background: #ececec;
    border: none;
    padding: 7px 15px;
    font-family:OpenSans-SemiBold;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    color: #000000;margin-left: 24px;
	font-weight:600;
}
.account button{
	background: linear-gradient(to right, #d881aa, #fbb1bf);
    padding: 10px 15px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border: none;
    margin-left: 15px;
}
#reporting .head_section{
	    margin-bottom: 0px;
}
.title{
	position:relative;
}
.title h2{
	text-align:center;
	font-size:30px;
	    margin-bottom: 10px;
}
.right_title{
	position:absolute;
	right:0px;
	top:0px;    color: #a3a3a3;
}

.das_title button{
	    border: none;
    color: #fff;
    padding: 10px 28px;
    display: block;
    background: linear-gradient(to right, #5d9ee7, #7fc2f4);
    border-radius: 7px;
}
#dashboard{
	background:url('../images/bg_dash.png') top center no-repeat;
}
.chart .row{
	    align-items: center;
}
.head_section{
	padding-top: 50px;
    padding-bottom: 30px;
}
.head_title{
	margin-bottom: 10px;
}
.eye{
	float:right;
}
.collapse{
	background:#f9dfdf;
}
.expend{
	background:#edf9df
}
.toggle_btn{
	padding:0;
	outline:none;
	border: none;
	background:none;
	margin-left:30px;
}
.toggle_btn:focus{
	outline:none;
	    box-shadow: none;
}

.toggle_btn span{
	font-family: OpenSans-SemiBold;
	padding: 10px 9px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	color:#000000;
	font-size: 12px;
	font-weight:normal;
	    min-width: 79px;
    text-align: center;
}
.status{
	width:14px;
	height:14px;
    display: inline-block;
    vertical-align: middle;
	margin-right:6px;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	font-weight:600;    margin-top: -1px;
}
.eye .value{
	font-weight:700;
	color:#000;
}
.eye{
	color:#a3a3a3;
	font-weight:600;
}
.eye li{
	margin-left: 20px;
	font-size: 12px;
	font-family: OpenSans-SemiBold;
	color:#333;
}
.status.tus1{
    background: #dfefcd;
    margin-top: 0px;
}
.tus2{
	background:#65a1fb;
}
.tus3{
	background:#7faf9d;
}
.tus4{
	background:#82bd7c;
}
.tus5{
	background:#91d88e;
}
.tus6{
	background:#91d88e;
}
.tus7{
	background:#f0ec79;
}
.tus8{
	background:#ed6f63;
}
.tus9{
	background:#ff88bd;
}
.tus10{
	background:#79e77f;
}
.chart{
	background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	    margin-bottom: 40px;
}
.special:after{
	 content: "";
    width: 100%;
    left: 0px;
    height: 1px;
    top: 50%;
    background: #b5b5b5;
    position: absolute;

}
.special{
	position:relative;
	background:#f1f1f1;
}
.chart .head{
	box-shadow: 0px 1px 7px #ccc;
    padding: 15px;
	
    padding-left: 28px;
    padding-right: 28px;
}
.card-body{
	border:None;
}
.collapse.show{
	margin-top: 10px;
}
.title_of i{
	    position: absolute;
    left: -30px;
    top: 5px;
}
.title_of img{
	    position: absolute;
    left: -38px;
    top: 3px;
    max-width: 22px;
}
.title_of{
position: relative;
    margin-bottom: 30px;
    font-weight: 600;
    font-family: 'URWClassico-Reg';
    font-style: italic;
    color: #ababab;
    font-size: 16px;
	
}

#enter_coin .head{
	color:#fff;
	padding-top:70px;
	padding-bottom:40px;
}
#enter_coin{
	background:url('../images/bg_entercoin.png') no-repeat;
	background-position: top center;
    background-size: cover;

}
.tab{
	background:#ffffff;    
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
        border: 1px solid #efecec;
}
input[type="file"]{
	display: inline-block;
    border: 1px solid #f4889b;
    width: 100%;
    padding: 60px 0 0 0;
    height: 56px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.upload label{
	font-family:OpenSans-SemiBold;
	position:absolute;
	left:15px;
	top:50%;
	transform:translateY(-50%);
	margin-bottom:0px;
	color:#000000;
	    margin-top: -3px;
	font-weight:600;
}
.upload button{
	 position: absolute;
    top: 1px;
    right: 1px;
    border: none;
    line-height: 1;
    height: 60px;
    background: #ff6576;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
}
.upload{
	position:relative;
	    align-items: center;
    max-width: 350px;
    margin: auto;margin-bottom: 30px;
}
.nav-tabs{
	display:block;
}
#enter_coin .tab-content .tab-pane p{
	font-size:14px;
	color:#afafaf;
	text-align: center;
}
.tab-content{
    margin: auto;
	padding: 50px 0px 40px;
}
#pills-tabContent .tab-content{padding-left:20px;padding-right:20px;color:#afafaf}
.title_chart{
    color: #000000;
    font-family: ClassicoURWTOT-Medium;
    font-weight: normal;
    font-size: 17px;
}
#home h2{
	margin-bottom: 20px;
	font-size:30px;
}
#home{
	padding-top: 100px;
}
.content_text h2{
	margin-bottom: 25px;
}
.content_text{
	max-width: 670px;
    margin: auto;    margin-bottom: 20px;
}
.list_chart{
	    padding-top: 30px;
	background:url('../images/bg_list.png') left top no-repeat;
	    background-size: 580px
}
.logo_section{
	font-size:40px;
	    margin-bottom: 30px;
}
#enter_coin .logo_2{
	max-width: 60px;
	margin-right:20px;
	    margin-top: -7px;
}
#enter_coin p{
	color:#aed5e5;
}
.mb-40{
	margin-bottom: 20px;
}
.tab .nav{
	background:#fbfbfb;
	border-bottom: none;
	padding-top: 20px;
    padding-bottom: 20px;
	    border-radius: 7px;
	    -webkit-border-radius: 7px;
	    -moz-border-radius: 7px;
}
.tab .nav a{
	font-family:OpenSans-SemiBold;
	font-size:15px;
	color:#b9b9b9;
	padding: 0px 10px;
	display:block;
     padding:8px 12px;
}
.tab .nav a:hover{color:#6e6e6e}
.tab .nav li a.active{
	background: linear-gradient(to right, #478fd9, #37a3ca);
	    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.coinenter_btn .btn:focus{
	outline:none;
}
.coinenter_btn .btn-white{
	margin-left: -4px;
	    border-radius: 0px 4px 4px 0px;
	    -webkit-border-radius: 0px 4px 4px 0px;
	    -moz-border-radius: 0px 4px 4px 0px;
		font-family: 'Freight-SansMedium';
		color:#000;    width: 90px;
	background:#ffffff;padding-top: 10px;
    padding-bottom: 10px;
}
.coinenter_btn {
}
.coinenter_btn .btn-light{
	color:#aeaeae;font-family: 'Freight-SansMedium';
	    border-radius: 4px 0px 0px 4px;
	    -webkit-border-radius: 4px 0px 0px 4px;
	    -moz-border-radius: 4px 0px 0px 4px;
		width: 90px;
	background:#f1f1f1;padding-top: 10px;
    padding-bottom: 10px;
}
#chart_trend{
	padding-top:70px;
}
.heade_section{
	margin-bottom:40px;
}
#reporting .sign_in{
	background:#cbcbcb;color: #fff;
}
#reporting{
	padding-bottom: 15px;
}
.up{
	color:#82bce8;
	font-weight:bold;
	font-family:OpenSans-SemiBold;
}
.fa-bitcoin{
	width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    background: #d3d2d2;
}
.qsp_logo{
	max-width: 22px;
}
.view_all{
	color:#333;
	font-size:12px;
	font-family: OpenSans-SemiBold;
}
.select_tag {
	display:inline-block;
}
.select_tag select{
	width:auto;
	--moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
.select_tag .select_control:first-child{
	margin-left:0px;
}
.select_control{
	display:inline-block;
	margin-left:15px;
	position:relativel;
}
.select_control {
	position:relative; 	 	
}
.select_control i{
	position: absolute;
    right: 0px;
    top: 0px;
    height: 38px;
    line-height: 38px;
    width: 28px;
    text-align: center;
    color: #fff;
	background:#ed9cb7;
	border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
}
.toggle_btn{
	margin-left:20px;
}
.select_control select::-ms-expand {
    display: none;
}
.custom-select{
	position: relative;
	background:none;
	border: 1px solid #ed9cb7;
	border-radius: 6px;
	padding-right: 35px;
}
.custom-select:focus,
.custom-select:active{
	border-color:#ed9cb7;
}
.search{
	bottom: -4px;
}
.backto_top{
	color:#a3a3a3 !important;
	font-size:12px;
}
footer .after_right{
}
footer .topbar {
    background: none;
}
footer .after_content{
	bottom:-1px;
}
footer .after_content:after{
	    background-color: #ffffff;
		bottom:-1px;
		margin-left:-1px;
}
footer .footer_after:after{
	bottom:1px;
}
.menu_cop a{
	font-size:13px;
	position:relative;
		color:#a3a3a3;font-family: 'OpenSans-Regular';
		padding:10px 20px 10px;
		float: left;
	}
.menu_cop a:first-child{
	padding-left:0px;
}
.menu_cop a:after{
	content:"•";
	position:absolute;
	right:0px;
	top:10px;
}
.copyright{
	    margin-top: 30px;
}
.menu_cop a:last-child:after{
	display:none;
}
.menu_cop:after{
	content:"";
	display:table;
	clear:both;
}
.footer_social a{
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
}
.footer_social .facebook a{
	background:#8095bb !important;
	color:#fff;
}
.footer_social .twitter a{
	background:#80c8ec !important;
	color:#fff;
}
.footer_social .instagram a{
	background:#737373 !important;
	color:#fff;
}
.footer_social .youtube a{
	background:#cc726e !important;
	color:#fff;
}
.footer_social .google a{
	background:#dd7a64 !important;
	color:#fff;
}
.footer_social .linkedin a{
	background:#6ea4c1 !important;
	color:#fff;
}
.footer_social{
	padding-top:20px; 	
}
.pie-title-center {
  display: inline-block;
  position: relative;
  text-align: center;
	height: 80px;
}

.incicle {
	font-weight:bold;
	    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: unset;
    color: #fff;
    font-size: 22px;
}
.incicle .type_cur{font-weight:normal}
.pie-value{
	color: #fff;
    font-size: 22px;
    font-family: 'URWClassico-Reg';
	line-height: 1;
}
.type_cur{
	color:#95b4ff;font-size: 11px;
	display:block;
}
.pie-chart canvas{
	width:80px;
	height:80px;    margin-top: -15px;
}
.pie{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pie_va_cur{
	display: block;
    text-align: center;
    color: #fff;
	font-size: 12px;
}
footer .nav{
	border-top: 1px solid #123f98;
}
footer{
	    padding-top: 30px;
}
@media (max-width: 1199px){
	.nav .row .col-md-12{
		width:100%;
		max-width: 100%;
		    text-align: center;
	}
	.nav .row{
		display:block;
	}
	.nav .after_content{
		width:auto !important;
	}
	.nav .after_content:after{
		display:none;
	}
	.nav .row .col-lg-5{
		position:relative;
	}
	.account{    color: #ececec;
		float:none;
		padding-top:10px;margin: auto; margin-bottom: 15px;
	}
	#home {
		padding-top: 60px;
	}
	.full-tab {
		display:block;
	}
	.full-tab .item .select_tag{
		float:left;text-align: left;
	}
	.full-tab .item .title_chart{
		margin-bottom:10px;    display: block;
	}
	.full-tab .item{
		width:100%;
		max-width:100%;
	}
}
button:hover{
	cursor:pointer;
}
.menu_cop a:hover{
	color:#222
}
@media (max-width: 991px){
	.menu_cop a:after{
		display:none;
	}
	.logo{
		text-align:center;    margin-top: 5px;
	}
	.header{
		padding-top:0px;
		padding-bottom:0px;    background-size: cover;
	}
	.after_content{
		display:none;
	}
	.exchange{
		    margin: 10px auto 20px
	}
	.pie{
		    margin-bottom: 20px;    padding-top: 17px;
	}
	.text-md form{
		float:left;    text-align: left;

	}
	.select_control{
		margin-bottom:10px;
	}
	.copyright{
		text-align:center;
	}
	.footer_social{
		float:none;    padding-top: 0px;
    margin-bottom: 10px;
	}
	footer .nav{
		background-size: cover;
	}
	.menu_cop{text-align:center;}
	.menu_cop a{    display: inline-block;
    float: none;
    padding-top: 0px;}
	.right_title{
		text-align:center;
		position:static;
	}
	.right_title button{
		margin:auto;
	}
	.nav{
		background-size:cover;
	}
}

.socials a:hover{
	    background: #fff;
}
footer .topbar .after_right{
	    padding-bottom: 10px;
}
.copyright_p{
	font-size:13px;
}
@media (max-width: 767px){
	.full-tab .item:after{
		content:"";
		display:table;
		clear:both;
	}
	.select_control{
		    float: left;
    margin-left: 0px;
    display: block;
    clear: both;
	}
}
@media (max-width: 450px){
	.account .tb-cell{
		display: inline-block;
	}
	.account .new_acc{
		display: block;
		margin: auto;    margin-top: 10px;
	}
	.account{
		display:block
	}
}
@media (max-width: 620px){
	.title_of {    padding-left: 30px;}
	.title_of img{
		left:0px;
	}
	.title_of i{
		left:0px;
	}
}
.topbar .menu{
	display:none;
}
.menu a:first-child{
	padding-left:0px;
}

.header .pie{
    max-width: 300px;
    margin-right: 0;
    margin-left: auto;
}

@media screen and (max-width: 991px) {
 .header .pie {
     margin-left: auto;
     margin-right: auto;
 }
}
.account button:hover{
     background: linear-gradient(to right, #de468e, #f7a0b1);
}
.das_title button:hover{
	background: linear-gradient(to right, #4085ca, #66afec);
}
.menu a:hover{
	color:#fff;
}
#reporting .sign_in:hover,
.sign_in:hover {
    background: #d3d3d3 !important;
}
.collapse:hover{
	background:#fbcece;
}
.expend:hover {
    background: #e1f8c5;
}
.enter-coin #enter_coin{margin-top:0} 
#pills-tab{
	display:block;
	text-align:center;
	background-image:none!important;
}
#enter_coin #pills-tab li{width:90px;font-weight:bold;
font-family:OpenSans-SemiBold;
}
#enter_coin #pills-tab li a{
	    height: 44px;
    line-height: 30px;
	background:#f1f1f1;
	color:#aeaeae;
}
#enter_coin  #pills-tab li a:hover{
	background:#dadada;
}
#enter_coin #pills-tab li a.active{
	background:#fff;
	color:#000
}
li #pills-manual-tab{
	border-radius: .25rem 0 0 .25rem!important;
	-moz-border-radius: .25rem 0 0 .25rem!important;
	-webkit-border-radius: .25rem 0 0 .25rem!important;
	-o-border-radius: .25rem 0 0 .25rem!important;
}
li #pills-csv-tab{
	border-radius: 0 .25rem .25rem 0!important;
	-moz-border-radius: 0 .25rem .25rem 0!important;
	-webkit-border-radius: 0 .25rem .25rem 0!important;
	-o-border-radius: 0 .25rem .25rem 0!important;
}










