<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home page - CoiFlow</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
  <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/pie-chart.js"></script>
  <script src="js/coiflow.js"></script>
</head>
<body>
<header>
	<div class="topbar">
		<div class="container">
			<div class="row">
				<div class="col-md-8 left after_right">
					<span class="after_content"></span>
					<div class="menu-icon tb">
						<span class="bar-icon tb-cell">
							<span class="line line1"></span>
							<span class="line line2"></span>
							<span class="line line3"></span>
						</span>
						<span class="tb-cell text-icon">menu</span>
					</div>
					<div class="socials">
						<ul>
							<li> <a href=""><i class="fa fa-facebook-f"></i></a></li>
							<li> <a href=""><i class="fa fa-twitter"></i></a></li>
							<li> <a href=""><i class="fa fa-instagram"></i></a></li>
							<li> <a href=""><i class="fa fa-google-plus"></i></a></li>
							<li> <a href=""><i class="fa fa-youtube"></i></a></li>
							<li> <a href=""><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 right"></div>
			</div>
		</div>
		<nav class="menu">
			<a class="nav-link active" href="#dashboard">Dashboard</a>
			<a class="nav-link" href="#reporting">Reporting</a>
			<a class="nav-link" href="#enter_coin">Enter Coins</a>
			<a class="nav-link" href="#chart_trend">Chart & Trends</a>
			<a class="nav-link" href="#tax_report">Tax-Report</a>
			<a class="nav-link" href="#">Customer Support</a>
		</nav>
	</div>
	<!--end topbar-->
	
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-4">
					<div class="logo">
						<a href="#"><img src="images/logo.png" alt="coin flow" /></a>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-4">
					<div class="exchange tb">
						<span class="title tb-cell">
							Summaries
						</span>
						<span class="number tb-cell">
							<input name="" value="1">
							<span class="cur">BTC</span>
						</span>
						<span class="cacul_wrap tb-cell"><span class="cacul"> = </span></span>
						<span class="result tb-cell"> $6.315,75
						</span>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-4">
					<div class="pie">
						<div class="pie-item">
							<div data-type="%" data-border="#4583de" data-percent-border="#40ccc5" class="pie-chart pie-title-center" data-percent="11">
								<div class="incicle">+<span class="pie-value"></span><span class="type_cur">Coins</span>
								</div>
							</div>
							<span class="pie_va_cur">0.7 BTC</span>
						</div>
						<div class="pie-item">
							<div data-type="%" data-border="#4583de" data-percent-border="#ffb8c1" class="pie-chart pie-title-center" data-percent="21"><div class="incicle">+ <span class="pie-value"></span> <span class="type_cur">Currencies</span></div></div>
						<span class="pie_va_cur">AUD$ 8,500</span>
						</div>
						<div class="pie-item">
							<div data-type="" data-border="#4583de" data-percent-border="#d982b0" class="pie-chart pie-title-center" data-percent="67"> <div class="incicle"><span class="pie-value"></span> <span class="type_cur">Trades</span></div></div>
						<span class="pie_va_cur">7 Coins</span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div><!--end header-->
	
	<div class="nav">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-7 after_right">
					<span class="after_content"></span>
					<nav class="menu">
						<a class="nav-link active" href="#dashboard">Dashboard</a>
						<a class="nav-link" href="#reporting">Reporting</a>
						<a class="nav-link" href="#enter_coin">Enter Coins</a>
						<a class="nav-link" href="#chart_trend">Chart & Trends</a>
						<a class="nav-link" href="#tax_report">Tax-Report</a>
						<a class="nav-link" href="#">Customer Support</a>
					</nav>
				</div>
				<div class="col-md-12 col-sm-12 col-lg-5">
					<div class="account tb">
						<span class="tb-cell">
							Free membership
						</span>
						<button class="sign_in tb-cell">Sign in</button>
						<button class="new_acc tb-cell">Create an account &nbsp; <i class="fa fa-angle-double-right"></i>
					</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</header>
<section id="home" class="home">
	<div class="container">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<h2>Intelligent marketplace analysis for all cryptocurrencies.</h2>
				<p class="content_text">Coinflow analyzes alyour trades and generates in real time tons of useful information such as the profit and loss of your trades, the value of your coins, balances, realized and unrealized gains, reports for tax declaration, and much more.</p>
			</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<img src="images/main_chart.jpg" alt="" />
			</div>
		</div>
	</div>
</section><!--end home-->

<section id="dashboard">
	<div class="container">
		<div class="head_section heade_section">
			<div class="row head_title">
				<div class="col-sm-12">
						<div class="title">
							<h2> Dashboard preview </h2>
							<div class="right_title das_title">
								<button>Link your coins &nbsp; <i class="fa fa-angle-double-right"></i></button>
							</div>
						</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="desc text-center">
						<p>All current and historical prices for 5,417 existing currencies provides you with a comprehensive insight onto the patterns of the cryptocurrency landscape.</p>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
		<div class="chart">
			<div class="head">
				<div class="row">
					<div class="col-sm-3">
						<span class="title_chart">Currency value</span>
					</div>
					<div class="col-sm-9">
						<div class="eye tb">
							<ul class="tb-cell">
								<li><span class="status tus1"> </span>BTC Value: <span class="value">A$ 4,206.62</span></li>
							</ul>
							<button class="toggle_btn btn btn-default tb-cell" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
								<span class="expend">EXPAND</span>
								<span class="collapse">COLLAPSE</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="collapse show" id="collapseExample">
				  <div class="card card-body">
					<img src="images/chart_dash.jpg" alt="" />
				  </div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="chart">
			<div class="head">
				<div class="row">
					<div class="col-sm-3">
						<span class="title_chart">Exchange value</span>
					</div>
					<div class="col-sm-9">
						<div class="eye tb">
							<ul class="tb-cell">
								<li><span class="status tus1"> </span>BTC Value: <span class="value">A$ 4,206.62</span></li>
							</ul>
							<button class="toggle_btn btn btn-default tb-cell" type="button" data-toggle="collapse" data-target="#exchange" aria-expanded="false" aria-controls="exchange">
								<span class="expend">EXPAND</span>
								<span class="collapse">COLLAPSE</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="collapse hide" id="exchange">
				  <div class="card card-body">
					<img src="images/chart_dash.jpg" alt="" />
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="chart">
			<div class="head">
				<div class="row">
					<div class="col-sm-3">
						<span class="title_chart">Value by day</span>
					</div>
					<div class="col-sm-9">
						<div class="eye tb">
							<ul class="tb-cell">
								<li><span class="status tus2"> </span>Account: <span class="value">A$ 4,206.62</span></li>
								<li><span class="status tus10"> </span>Coins:  <span class="value">BTC 0.74</span></li>
								<li><span class="status tus9"> </span>Currencies: <span class="value">A$ 0.00</span></li>
							</ul>
							<button class="toggle_btn btn btn-default tb-cell" type="button" data-toggle="collapse" data-target="#valuebyday" aria-expanded="true" aria-controls="valuebyday">
								<span class="expend">EXPAND</span>
								<span class="collapse">COLLAPSE</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="collapse show" id="valuebyday">
				  <div class="card card-body">
					<img src="images/value_byday_chart.jpg" alt="" />
				  </div>
				</div>
			</div>
		</div>
	</div>
</section><!--end dashboard-->

<section id="reporting">
	<div class="container">
		<div class="head_section heade_section">
			<div class="row head_title">
				<div class="col-sm-12">
						<div class="title">
							<h2>Reporting</h2>
							<div class="right_title">
								Free membership.&nbsp;&nbsp;<button class="sign_in">Sign up</button>
							</div>
						</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="desc text-center">
						<p>Lorem ipsum dolor sit amet, no atomorum periculis sea, ad mazim explicari pri. Te nam repudiare vituperatoribus clita vocent eum, duo in aperiam volutpat.</p>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
			</div>
		</div>
	</div>
	<div class="list_chart">
			<div class="container">
			<div class="title_of">
				<img src="images/icon_static.png" alt="" />
				Trade statistics
			</div>
				<div class="chart">
					<div class="head">
						<div class="row">
							<div class="col-sm-3">
								<span class="title_chart">Value by currency</span>
							</div>
							<div class="col-sm-9">
								<div class="eye tb">
									<ul class="tb-cell">
										<li><span class="status tus2"> </span>BTC</li>
										<li><span class="status tus3"> </span>ADA</li>
										<li><span class="status tus4"> </span>ETH</li>
										<li><span class="status tus6"> </span>IOT</li>
										<li><span class="status tus7"> </span>MCO</li>
										<li><span class="status tus8"> </span>QSP</li>
										<li><span class="status tus9"> </span>VEN</li>
										<li><span class="status special"> </span>AUD</li>
									</ul>
									<button class="toggle_btn btn btn-default tb-cell" type="button" data-toggle="collapse" data-target="#valueby_curcy" aria-expanded="true" aria-controls="valueby_curcy">
										<span class="expend">EXPAND</span>
										<span class="collapse">COLLAPSE</span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="content">
						<div class="collapse show" id="valueby_curcy">
						  <div class="card card-body">
							<img src="images/currency_chart.jpg" alt="" />
						  </div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="chart">
					<div class="head">
						<div class="row">
							<div class="col-sm-3">
								<span class="title_chart">Trading volume by day</span>
							</div>
							<div class="col-sm-9">
								<div class="eye tb">
									<ul class="tb-cell">
										<li><span class="status tus2"> </span>Buy volume A$</li>
										<li><span class="status tus8"> </span>Buy volume A$</li>
									</ul>
									<button class="toggle_btn btn btn-default tb-cell" type="button" data-toggle="collapse" data-target="#volumn_chart" aria-expanded="true" aria-controls="volumn_chart">
										<span class="expend">EXPAND</span>
										<span class="collapse">COLLAPSE</span>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="content">
						<div class="collapse show" id="volumn_chart">
						  <div class="card card-body">
							<img src="images/volumn_chart.jpg" alt="" />
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="list_chart">
		<div class="container"><!--hide --> 
			<div class="title_of">
				<i class="fa fa-align-justify"></i>
				Trade list
			</div>
			<div class="chart">
				<div class="head">
					<div class="row">
						<div class="col-sm-3">
							<span class="title_chart">Trades</span>
						</div>
						<div class="col-sm-5">
							<img src="images/bar_chart.jpg" alt="" />
						</div>
						<div class="col-sm-4">
							<div class="eye tb">
								<ul class="tb-cell">
									<li><span class="status tus2"> </span>Deposit: <span class="value">A$ 290.00</span></li>
								</ul>
								<button class="toggle_btn btn btn-default tb-cell" type="button" data-toggle="collapse" data-target="#trades" aria-expanded="false" aria-controls="trades">
									<span class="expend">EXPAND</span>
									<span class="collapse">COLLAPSE</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="collapse hide" id="trades">
					  <div class="card card-body">
						<img src="images/volumn_chart.jpg" alt="" />
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="container"><!--hide --> 
			<div class="chart">
				<div class="head">
					<div class="row">
						<div class="col-sm-3">
							<span class="title_chart">Trading fees</span>
						</div>
						<div class="col-sm-5">
							<img src="images/bar_chart2.jpg" alt="" />
						</div>
						<div class="col-sm-4">
							<div class="eye tb">
								<ul class="tb-cell">
									<li><span class="status tus8"> </span>Paid: <span class="value">A$ 2.00</span></li>
								</ul>
								<button class="toggle_btn btn btn-default tb-cell" type="button" data-toggle="collapse" data-target="#trades_fee" aria-expanded="false" aria-controls="trades_fee">
									<span class="expend">EXPAND</span>
									<span class="collapse">COLLAPSE</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="collapse hide" id="trades_fee">
					  <div class="card card-body">
						<img src="images/volumn_chart.jpg" alt="" />
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="list_chart">
		<div class="container"><!--hide --> 
			<div class="title_of">
				<i class="fa fa-database"></i>
				Current balance
			</div>
			<div class="chart">
				<div class="head">
					<div class="row">
						<div class="col-sm-3">
							<span class="title_chart">Balance by exchange</span>
						</div>
						<div class="col-sm-6 text-center">
							<span class="up"><i class="fa fa-caret-up"></i>&nbsp;&nbsp; +7% over 30 days</span>
						</div>
						<div class="col-sm-3">
							<div class="eye tb">
								<ul class="tb-cell">
									<li><i class="fa fa-bitcoin"></i>&nbsp;&nbsp; BTC: <span class="value">03.70</span></li>
								</ul>
								<button class="toggle_btn btn btn-default tb-cell" type="button" data-toggle="collapse" data-target="#balances_ex" aria-expanded="false" aria-controls="balances_ex">
									<span class="expend">EXPAND</span>
									<span class="collapse">COLLAPSE</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="collapse hide" id="balances_ex">
					  <div class="card card-body">
						<img src="images/volumn_chart.jpg" alt="" />
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="container"><!--hide --> 
			<div class="chart">
				<div class="head">
					<div class="row">
						<div class="col-sm-3">
							<span class="title_chart">Value by currency</span>
						</div>
						<div class="col-sm-6 text-center">
							<span class="up"><i class="fa fa-caret-up"></i>&nbsp;&nbsp; Trading QSP adds 0.02%</span>
						</div>
						<div class="col-sm-3">
							<div class="eye tb">
								<ul class="tb-cell">
									<li><img class="qsp_logo" src="images/qsp_icon.jpg" alt="" />&nbsp;&nbsp; QSP: <span class="value">04.99</span></li>
								</ul>
								<button class="toggle_btn btn btn-default tb-cell" type="button" data-toggle="collapse" data-target="#balances_cur" aria-expanded="false" aria-controls="balances_cur">
									<span class="expend">EXPAND</span>
									<span class="collapse">COLLAPSE</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="collapse hide" id="balances_cur">
					  <div class="card card-body">
						<img src="images/volumn_chart.jpg" alt="" />
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="list_chart">
		<div class="container"><!--hide --> 
			<div class="title_of">
				<img src="images/icon_over.png" alt="" />
				Overviews
			</div>
			<div class="chart">
				<div class="head">
					<div class="row">
						<div class="col-sm-3">
							<span class="title_chart">Double entry list</span>
						</div>
						<div class="col-sm-9">
							<div class="eye tb">
								<a href="#" class="view_all tb-cell">View list</a>
								<button class="toggle_btn btn btn-default tb-cell" type="button" data-toggle="collapse" data-target="#double_list" aria-expanded="false" aria-controls="double_list">
									<span class="expend">EXPAND</span>
									<span class="collapse">COLLAPSE</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="collapse hide" id="double_list">
					  <div class="card card-body">
						<img src="images/volumn_chart.jpg" alt="" />
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="container"><!--hide --> 
			<div class="chart">
				<div class="head">
					<div class="row">
						<div class="col-sm-3">
							<span class="title_chart">Realised/Unrealised gains</span>
						</div>
						<div class="col-sm-9">
							<div class="eye tb">
								<a href="#" class="view_all tb-cell">View list</a>
								<button class="toggle_btn btn btn-default tb-cell" type="button" data-toggle="collapse" data-target="#realised" aria-expanded="false" aria-controls="realised">
									<span class="expend">EXPAND</span>
									<span class="collapse">COLLAPSE</span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="collapse hide" id="realised">
					  <div class="card card-body">
						<img src="images/volumn_chart.jpg" alt="" />
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!--end reporting-->



<footer>
<div class="topbar">
		<div class="container">
			<div class="row">
				<div class="col-md-8 after_right">
				<a href="#top" class="backto_top"><i class="fa fa-angle-double-up"></i>&nbsp; Back to top</a>
					<span class="after_content"></span>
					</div>
				</div>
				<div class="col-md-4 right"></div>
			</div>
		</div>
	</div>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-4">
					<div class="logo">
						<a href="#"><img src="images/logo.png" alt="coin flow" /></a>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-4">
					<div class="exchange tb">
						<span class="title tb-cell">
							Summaries
						</span>
						<span class="number tb-cell">
							<input name="" value="1">
							<span class="cur">BTC</span>
						</span>
						<span class="cacul_wrap tb-cell"><span class="cacul"> = </span></span>
						<span class="result tb-cell"> $6.315,75
						</span>
					</div>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-4">
					
					<div class="pie">
						<div class="pie-item">
							<div data-type="%" data-border="#4583de" data-percent-border="#40ccc5" class="pie-chart pie-title-center" data-percent="11">
								<div class="incicle">+<span class="pie-value"></span><span class="type_cur">Coins</span>
								</div>
							</div>
							<span class="pie_va_cur">0.7 BTC</span>
						</div>
						<div class="pie-item">
							<div data-type="%" data-border="#4583de" data-percent-border="#ffb8c1" class="pie-chart pie-title-center" data-percent="21">
							<div class="incicle">+ <span class="pie-value"></span> <span class="type_cur">Currencies</span></div></div>
						<span class="pie_va_cur">AUD$ 8,500</span>
						</div>
						<div class="pie-item">
							<div data-type="" data-border="#4583de" data-percent-border="#d982b0" class="pie-chart pie-title-center" data-percent="67"> <div class="incicle"><span class="pie-value"></span> <span class="type_cur">Trades</span></div></div>
						<span class="pie_va_cur">7 Coins</span>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div><!--end header-->
	
	<div class="nav">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-7 after_right">
					<span class="after_content footer_after"></span>
					<nav class="menu">
						<a class="nav-link active" href="#dashboard">Dashboard</a>
						<a class="nav-link" href="#reporting">Reporting</a>
						<a class="nav-link" href="#enter_coin">Enter Coins</a>
						<a class="nav-link" href="#chart_trend">Chart & Trends</a>
						<a class="nav-link" href="#tax_report">Tax-Report</a>
						<a class="nav-link" href="#">Customer Support</a>
					</nav>
				</div>
				<div class="col-md-12 col-sm-12 col-lg-5">
					<div class="account tb">
						<span class="tb-cell">
							Free membership
						</span>
						<button class="sign_in tb-cell">Sign in</button>
						<button class="new_acc tb-cell">Create an account &nbsp; <i class="fa fa-angle-double-right"></i>
					</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-9">
					<nav class="menu_cop">
						<a href="#">Terms of Service</a>
						<a href="#">Privacy Policy</a>
						<a href="#">Contact & FAQ</a>
						<a href="#">Documentation</a>
							  
					</nav>
					<p class="copyright_p">Copyright © 2018 Coinflow</p>
				</div>
				<div class="col-sm-12 col-md-12 col-lg-3">
					<div class="socials footer_social">
						<ul>
							<li  class="facebook"> <a href=""><i class="fa fa-facebook-f"></i></a></li>
							<li  class="twitter"> <a href=""><i class="fa fa-twitter"></i></a></li>
							<li  class="instagram"> <a href=""><i class="fa fa-instagram"></i></a></li>
							<li  class="google"> <a href=""><i class="fa fa-google-plus"></i></a></li>
							<li  class="youtube"> <a href=""><i class="fa fa-youtube"></i></a></li>
							<li  class="linkedin"> <a href=""><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
</body>
</html>